@model Binet_Gold.Models.Date_Time

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Date_Time</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_Time1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Time1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Date_Time_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
